!!!
html(data-ng-app="leanmean")
  head
    title lean & mean analytics
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(href='vendor/js/nv.d3.css', rel='stylesheet')

    link(href='less/styles.css', rel='stylesheet')

  body
    div(class='container')
      h3 Lean & mean analytics

      != yield

      script(src='vendor/js/jquery-2.0.3.js')
      script(src='vendor/js/underscore.js')

      script(src='vendor/js/knockout-3.0.0.js')
      script(src='vendor/js/backbone.js')
      script(src='vendor/js/angular.js')
      script(src='vendor/js/angular-resource.js')
      script(src='vendor/js/elastic-angular-client.js')

      script(src='vendor/js/d3.js')
      script(src='vendor/js/d3.geo.js')
      script(src='vendor/js/nv.d3.js')

      script(src='vendor/js/touche.js')

      script(src='js/events.js')

      script(src='js/app.js')

      script(src='js/TabsController.js')
      script(src='js/OneController.js')
      script(src='js/TwoController.js')

      script(src='js/directives.js')
      script(src='js/app-bootstrap.js')
