p Hello from index.jade

p
  a(ng-href='harp-er-raatt', target='_self') Lenke med pretty url (til .md-fil)

ul(class='tabs', data-ng-controller='TabsController')
  li(data-ng-class='{ active: oneActive }')
    a(data-ng-href='/one') One
  li(data-ng-class='{ active: twoActive }')
    a(data-ng-href='/two') Two

div(data-ng-view)
