
ul(class='tabs', data-ng-controller='TabsController')

  li(data-ng-class='{ active: oneActive }')
    a(data-ng-href='{{Routes.hitsperhour}}') Hits per hour

  li(data-ng-class='{ active: twoActive }')
    a(data-ng-href='{{Routes.two}}') Two

div(data-ng-view)
